In [82]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier

In [83]:
dataset = pd.read_csv("./iris.csv")

In [84]:
dataset.head()

   Unnamed: 0  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           1           5.1          3.5           1.4          0.2  setosa
1           2           4.9          3.0           1.4          0.2  setosa
2           3           4.7          3.2           1.3          0.2  setosa
3           4           4.6          3.1           1.5          0.2  setosa
4           5           5.0          3.6           1.4          0.2  setosa

In [85]:
data = dataset[["Sepal.Length","Sepal.Width","Petal.Length","Petal.Width"]]

In [86]:
x_train, x_test,y_train,y_test = train_test_split(data,dataset["Species"],test_size=0.3,random_state=40)

In [87]:
model = RandomForestClassifier()

In [88]:
model.fit(x_train,y_train)

RandomForestClassifier()

In [89]:
x_test.head()

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
38            4.4          3.0           1.3          0.2
66            5.6          3.0           4.5          1.5
115           6.4          3.2           5.3          2.3
117           7.7          3.8           6.7          2.2
89            5.5          2.5           4.0          1.3

In [90]:
y_pred = model.predict(x_test)

In [91]:
np.mean(y_test == y_pred)

1.0

In [92]:
y_pred

array(['setosa', 'versicolor', 'virginica', 'virginica', 'versicolor',
       'virginica', 'versicolor', 'versicolor', 'versicolor', 'setosa',
       'versicolor', 'setosa', 'setosa', 'virginica', 'versicolor',
       'virginica', 'virginica', 'virginica', 'versicolor', 'versicolor',
       'virginica', 'virginica', 'versicolor', 'setosa', 'versicolor',
       'setosa', 'setosa', 'virginica', 'setosa', 'versicolor',
       'versicolor', 'setosa', 'setosa', 'setosa', 'setosa', 'virginica',
       'setosa', 'setosa', 'virginica', 'setosa', 'setosa', 'versicolor',
       'virginica', 'virginica', 'virginica'], dtype=object)

In [93]:
x_train.shape

(105, 4)

In [94]:
x_test.shape

(45, 4)

In [95]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [96]:
confusion_matrix(y_test,y_pred)

array([[16,  0,  0],
       [ 0, 14,  0],
       [ 0,  0, 15]])

In [97]:
accuracy_score(y_test,y_pred)

1.0